@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Commerce App</h1>
    <p>Explore our products and place your orders!</p>
    <div class="mt-4">
        <a href="/Products" class="btn btn-primary btn-lg">View Products</a>
        <a href="/Order/OrderForm" class="btn btn-success btn-lg">Place an Order</a>
    </div>
</div>
